@model IEnumerable<car_rental_mvc.Models.Feedback>

@{
    ViewData["Title"] = "Index";
}

<h1>Feedback</h1>

<p>
    <a asp-action="Create">Create New</a>
    <br />
    <a asp-action="FAQ">FAQ</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsersId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Feedback1)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsersId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Feedback1)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                @Html.ActionLink("Delete", "Delete", new { id = item.Id },new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
